web3==5.18.0
mongoengine==0.23.0
blinker
hexbytes~=0.2.1
pymongo[srv]==3.11.3
python-pkcs11
requests~=2.25.1
aiohttp~=3.7.4
pycryptodome==3.10.1
ethereum
rlp==2.0.1
ecdsa==0.16.1
# rusty-rlp
serde
tornado
retry